.separator {
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgb(0 0 0 / 10%),
    inset 0 0.125em 0.5em rgb(0 0 0 / 15%);
  margin: 0;
}

.full-page {
  height: 100vh;
  width: 100vw;
}

.page-background {
  background-color: #f1f3f7;
}

.scroller {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.scroller .section {
  scroll-snap-align: start;
}

*,
html {
  scroll-behavior: smooth !important;
}
::-webkit-scrollbar {
  opacity: 0;
  width: 0;
  display: none;
  background-color: transparent;
}

.to-top {
    padding: 1000px;
}

.navbar {
  position: fixed;
  bottom: 0;
}

.padding-from-navbar{
  padding-top: 80px;
}